//extends ../dashboard

block field

    form.form-horizontal(method='POST',enctype="multipart/form-data" action='/dashboard/recomendado/image/'+data.telefono)
        fieldset
            // Form Name
            legend Recomendado imagen
            .form-group
                label.col-md-4.control-label(for='upload') upload
                .col-md-4
                    input#upload.form-control.input-md(value=data.upload name='upload', type='file', placeholder='upload', required='')

            // Button
            .form-group
                .col-md-4
                    button#Guardar.btn.btn-primary(type='submit') Guardar
                .col-md-4
                    a(href='/dashboard/recomendados'): button#Editar.btn.btn-primary(type='button') Cancelar
            .form-group
                .col-md-4
                    p= err


