extends ../dashboard

block field

    fieldset
        legend Usuarios
        each people in data
                fieldset
                    p= nombre =people.nombres
                    p= people.email
                    .form-group
                        .col-md-4
                            a(href='/dashboard/user/'+people.usuario_id): button#Editar.btn.btn-primary(type='button') Editar
                            button#Eliminar.btn.btn-warning(type='button') Eliminar


