extends layout
block content
    nav.nav
       ul
         li
             a(href='/dashboard/users') Usuarios
         li
             a(href='/dashboard/recomendados') Recomendados

     p.jumbotron Bienvenido! al admin del curso Calidad de software 2018

    block field
