doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
    .container
        .row
            .col-sm-12
                block content
            .col-sm-4
            .col-sm-4
            .col-sm-4
            .col-sm-4
            .col-sm-4
            .col-sm-4
            .col-sm-12
                footer
                    p Copyright  Curso Calidad de Software 2018-II UNMSM